<ul>
  <li>
    XRP price: <%= number_to_currency(@coin_presenter.ripple_price) %>
  </li>
  <li>
    BTC price: <%= number_to_currency(@coin_presenter.bitcoin_price) %>
  </li>
  <li>
    XLM price: <%= number_to_currency(@coin_presenter.stellar_price) %>
  </li>
  <li>
    ETH price: <%= number_to_currency(@coin_presenter.ethereum_price) %>
  </li>
</ul>
