<div class="center">
    <input id="address" type="textbox" value="Enter Your City" onkeypress="if(event.keyCode==13)codeAddress()">
    <input type="button" value="Encode" onclick="codeAddress()">
</div>
<div class="center">
  <button id="sendMapDataButton" onclick="sendMapData()">Use This Map</button>
</div>
<div class="flex-container">
  <div id="map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API'] %>&callback=initMap" async="async" defer="defer"></script>
</div>
