/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo-image {
  width: 75px;
  height: 45px;
}

.vertical-center {
  position: relative;
  top: 45vh;
}

.center {
  text-align: center;
}

.crypto-border {
  border: 2px black solid;
  height: 5vh;
  margin: 5px;
  text-align: center;
  padding-top: 1vh;
}

.flag-image {
  height: 0px;
  position: relative;
  top: -450px;
  opacity: .2;
}

.map-image {
  width: 750px;
  height: 450px;
}

body {
  background-color: #66a0ff !important;
}

#myCarousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
